* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.o-header {
  width: 100%;
  height: 620px;
  background-image: url("../images/Web_0008_Layer-5.png");
  background-size: cover;
  background-position: center;
}

.o-header .o-header__title {
  height: 130px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.o-header .o-header__title .c-header__title__text {
  color: #9bc651;
  font-size: 35px;
  font-weight: bold;
}

.o-header .o-header__buttons {
  display: none;
}

.o-header .o-header__generalView {
  margin: 0 60px;
  color: white;
}

.o-header .o-header__generalView .o-header__generalView__text {
  width: 40%;
  float: left;
  margin-top: 80px;
}

.o-header .o-header__generalView .o-header__generalView__text .c-header__generalView__text__title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

.o-header .o-header__generalView .o-header__generalView__text .c-header__generalView__text__paragraph {
  font-size: 14px;
  font-weight: 400;
}

.o-header .o-header__generalView .c-header__generalView__mobilePhone {
  width: 60%;
  padding-top: 200px;
  float: right;
}
