$logoColor: #9bc651;
$logoBackgroundColor: rgba(255, 255, 255, 0.7);
$buildColor: #43463e;
$clientsColor: #37461d;
$signUpColor: #091e28;
$picturesColor: #73933c;
$dropdownColor: #758160;
$dropdownColorHover: #91a077;

$mobile: "only screen and (max-width: 499px)";
$tablet-up: "only screen and (min-width: 768px)";
$desktop: "only screen and (min-width: 1200px)";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}

h1, h2, h3 {
    font-size: 35px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.fade-in {
	-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.o-header {
    width: 100%;
    height: 620px;
    background-image: url("../images/Web_0008_Layer-5.png");
    background-size: cover;
    background-position: center;

    .o-header__title {
        height: 130px;
        width: 100%;
        background-color: $logoBackgroundColor;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .c-header__title__text {
            color: $logoColor;
            font-size: 35px;
            font-weight: bold;
        }

        .o-header__title__buttons {
            display: none;
            @media #{$tablet-up} {
                display: flex;
                align-items: center;
                height: 38px;
                position: absolute;
                right: 80px;
            }

            .o-header__title__buttons__searchButton {
                position: relative;

                .c-header__title__buttons__searchButton {
                    display: inline-block;
                    width: 38px;
                    height: 38px;
                    margin-right: 20px;

                }

            }

            .o-header__title__buttons__burgerButton {
                position: relative;

                .c-header__title__buttons__burgerButton {
                    display: inline-block;
                    width: 40px;
                    height: 22px;
                    margin-left: 20px;
                    position: relative;
                }                
            }
        }

        .c-header__title__buttons__burgerButton__dropdown {
            display: none;
            width: 100vw;
            height: 50px;
            background-color: $dropdownColor;
            position: absolute;
            z-index: 10;
            top: 130px;

            ul {
                display: flex;
                justify-content: space-around;
                height: 50px;

                li {
                    width: 20%;
                    text-align: center;
                    line-height: 50px;

                    a {
                        display: block;
                        color: white;
                    }
                }

                li:hover {
                    opacity: 0.5;
                    background-color: $dropdownColorHover;
                }
            }
        }

        .c-header__title__buttons__searchButton__dropdown {
            display: none;
            width: 100vw;
            height: 50px;
            background-color: $dropdownColor;
            position: absolute;
            top: 130px;
            z-index: 10;
            text-align: center;

            input {
                height: 30px;
                width: 300px;
                border: none;
                margin-top: 10px;
                border-radius: 5px;
                outline: none;
                padding: 0 15px; 
            }
        }
    }

    .o-header__generalView {
        margin: 0 60px;
        color: white;
        @media #{$tablet-up} {
            margin: 0 90px;
        }
        @media #{$desktop} {
            width: 70%;
            margin: 0 auto;
        }

        .o-header__generalView__text {
            width: 40%;
            float: left;
            margin-top: 140px;
            @media #{$mobile} {
                width: 100%;
            }
            @media #{$tablet-up} {
                width: 48%;
            }

            .c-header__generalView__text__title {
                font-size: 35px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .c-header__generalView__text__paragraph {
                font-size: 14px;
                font-weight: 300;
            }
        }

        .c-header__generalView__mobilePhone {
            width: 60%;
            padding-top: 150px;
            float: right;
            @media #{$mobile} {
                display: none;
            }
            @media #{$tablet-up} {
                width: 52%;
                max-width: 390px;
            }
            @media #{$desktop} {
                width: 52%;
                max-width: 480px;
            }
        }
    }
}

.o-main {
    margin: 0 60px;
    margin-bottom: 70px;
    font-weight: 300;
    @media #{$tablet-up} {
        margin: 0 90px;
        margin-bottom: 110px;
    }
    @media #{$desktop} {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 110px;
    }

    .o-main__productOverview {
        width: 100%;
        margin-bottom: 50px;

        .c-main__productOverview__title {
            margin-top: 100px;
            margin-bottom: 30px;
            font-weight: 300;
        }

        .o-main__productOverview__description {
            width: 100%;
            
            .c-main__productOverview__description__paragraph {
                font-weight: 300;
                text-align: left;
                padding-bottom: 30px;
                @media #{$desktop} {
                    width: 45%;
                    padding: 15px 0;
                    display: inline-block;
                } 
            }
            @media #{$desktop} {
                .c-main__productOverview__description__paragraph:nth-child(2n) {
                    float: right;
                }
            } 
        }
    }

    .o-main__functions {

        @media #{$desktop} {
            height: 560px;
        }

        .o-main__functions__boxes {
            color: white;
            padding: 45px 40px;
            position: relative;

            .c-main__functions__boxes__title {
                font-weight: 300;
                margin-bottom: 15px;
            }

            .c-main__functions__boxes__paragraph {
                margin-bottom: 25px;
            }

            .c-main__functions__boxes__link {
                color: white;
                font-weight: 700;
                position: absolute;
                bottom: 45px;
                
            }
        }

        .c-main_functions__boxes--build {
            background-color: $buildColor;
            @media #{$desktop} {
                float: left;
                width: 60%;
                height: 280px;
            }
        }
        
        .c-main_functions__boxes--clients {
            background-color: $clientsColor;
            @media #{$desktop} {
                float: left;
                width: 40%;
                height: 280px;
            }
        }
        
        .c-main_functions__boxes--signUp {
            background-color: $signUpColor;
            @media #{$desktop} {
                float: left;
                width: 60%;
                height: 280px;
            }
        }
        
        .c-main_functions__boxes--pictures {
            background-color: $picturesColor;
            @media #{$desktop} {
                float: left;
                width: 40%;
                height: 280px;
            }
        }
    }
}